.Product-main
{
  position: relative;
  height: 600px;
  width: 400px;
  justify-content: center;
  align-self: center;
box-shadow: inset 0 1px 1px rgba(219, 93, 115, 0.075), 0 0 8px rgb(38, 184, 171);  
}


.product-image{
  height: 500px;
  width: 100%;
}
.product-title
{
  font-family: 'Stylish', sans-serif;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  font-size: 2.5rem;
  width: 100%;
 
    color: rgb(219, 93, 115);

}
.product-price
{
  height: 50px;
  font-size: 1.5rem;
  width: 100%;
  
    color: rgb(219, 93, 115);
    text-align: center;
}