.mainbox {
    background-color:rgb(38, 184, 171);
    margin: auto;
    height: 70vh;
    width: 60%;
    justify-content: center;
    
    text-align: center;
    position: relative;
  }
  
    .err {
        color: rgb(219, 93, 115);
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: rgb(219, 93, 115);
  }
  
   .err2 {
    color: rgb(219, 93, 115);
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      color: rgb(219, 93, 115);
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }
  @media only screen and (max-width: 600px)
{
  .err {
    
  font-size: 3rem;
  
}

.far {

font-size: 2rem;

}

.err2 {

  font-size: 3rem;
 
}

.msg {
  
  font-size: 1rem;
 
}
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .err {
    
    font-size: 4rem;
    
  }
  
  .far {
  
  font-size: 2.5rem;
  
  }
  
  .err2 {
  
    font-size: 4rem;
   
  }
  
  .msg {
    
    font-size: 1.4rem;
   
  } 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .err {
    
    font-size: 7rem;
    
  }
  
  .far {
  
  font-size: 4rem;
  
  }
  
  .err2 {
  
    font-size: 7rem;
   
  }
  
  .msg {
    
    font-size: 1.5rem;
   
  }
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    
  .err {
    
    font-size: 11rem;
    
  }
  
  .far {
  
  font-size: 8rem;
  
  }
  
  .err2 {
  
    font-size: 11rem;
   
  }
  
  .msg {
    
    font-size: 2rem;
   
  }

    
}