.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    
  }
  .mainDiv
  {
    background-color:  rgb(38, 184, 171);
    display: flex;
    justify-content: center;
    color: rgb(219, 93, 115);
    flex-direction: column;
    text-align: center;
    line-height: 10px;
    

  }
  .mainDiv h1{
    font-family: 'Stylish', sans-serif;
    font-size: 6rem;
    justify-content: center;
   

    
  }
  .mainDiv p{
      font-size: 2rem;
  }
  .uppermain{
    background-color:  rgb(38, 184, 171);

  }

  