
.header
{
    background-color: transparent;
    position: sticky;
    width: 100%;
    font-family: 'Stylish', sans-serif;
    top: 0px;
    left: 0px;
    z-index: 1;
    color: rgb(219, 93, 115);
    
}
.header.active{
    background:rgb(219, 93, 115);
    color: rgb(38, 184, 171);
    width: 100%;
    font-family: 'Stylish', sans-serif;
    top: 0px;
    z-index: 1;
    left: 0px;
    height: 80px;
    position:fixed;
}
.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}


.header ul li:hover{
    background-color:rgb(219, 93, 115);
    color: rgb(38, 184, 171);
    display: block;
}
.header .logo{
    
    height: 10px;
    margin-top: 15px;
    margin-left: 50px;
    
   
}
.header .menu
{
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out;
    z-index: -1;
}
.header .menu-icon{
    border: 1px solid white;
    padding: 20px 10px;
    position: relative;
    float: right;
    cursor: pointer;
    margin-top: 20px ;
    margin-right: 20px;
    
}
.header .menu-icon .nav-icon
{
    display: block;
    height: 2px;
    width: 35px;
    position: relative;
    margin-top: 1px;
    background: white;
    transition: background .2s ease-out;
}
.header .menu-icon .nav-icon:before
{
    background:white;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    transition: all .2s ease-out;
}
.header .menu-icon .nav-icon:after
{
    background: white;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    transition: all .2s ease-out;
}
.header .menu-btn
{
    display: none;
}
.header .menu-btn:checked~.menu
{
    max-height: 60vh;
    background-color:rgb(219, 93, 115);
    opacity: .8;
    color: rgb(38, 184, 171);
    
    
}

.header .menu-btn:checked~.menu-icon .nav-icon
{ background-color:transparent;
    
}

.header .menu-btn:checked~.menu-icon .nav-icon:before
{
    transform: rotate(-45deg);
    top: 0;

}
.header .menu-btn:checked~.menu-icon .nav-icon:after
{
    transform: rotate(45deg);
    top: 0;

}
@media (min-width:53em)
{
    .header li{
        float: left;
    }
    .header li a
    {
        padding: 15px;
        
    }
    .header .menu{
        clear:none;
        float: right;
        max-height: none;
        text-align: center;
        align-items: center;
        margin-top: 12px;
        
    }
    .header .menu-icon
    {
        display: none;
        padding: 20px;
        text-decoration: none;
    }
    .header ul li:hover
    {
        background-color:rgb(219, 93, 115);
    color: rgb(38, 184, 171);
        transition: all .2s ease-out;

    }
    .header .menu-icon
    {
        display: none
    }
    
 
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
      .header .logo{
    
        height: 70px;
        margin-top: 15px;
        margin-left: 20px;
    }
    .header ul li
{
    
    
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    cursor: crosshair;
    border: none;
 }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    .header ul li
{
    
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    cursor: crosshair;
 
    

    
}
    
    .header .logo{
    
        height: 80px;
        margin-top: 15px;
        margin-left: 25px;
        cursor: crosshair;
        
       
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .header ul li
    {
        
        border: none;
        text-decoration: none;
        text-align: center;
        font-size: 1.8rem;
        cursor: crosshair;
        margin-right: 20px;
        padding: 8px;
         
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    
    .header ul li
{
    display: block;
    padding:5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    cursor: crosshair;
    border: 2px solid rgb(219, 93, 115);
    margin-right: 20px;
    

    
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    
    .header ul li
{
    display: block;
    padding:5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    cursor: crosshair;
    border: 2px solid rgb(219, 93, 115);
    margin-right: 20px;
    

    
}
    
}
.btn {
    display: inline-block;
    border: none;
    background:rgba(13,110,139,0.75) ;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
  }
  .btn:hover {
    opacity: 0.7;
  }
  /*header pic css*/
  .nav-headerpic{
      height: 100vh;
      width: 100%;
      position: relative;
      top: -100px;
     z-index: -1;
  }